<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre-exp.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre-icons.min.css">
    <style>
        body {
            padding: 1rem;
        }

        .docs .card {
            border: 0;
            box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
            width: 100%;
        }

        .text-light {
            color: #acb3c2 !important;
        }

        .text-gray {
            color: #79808e;
        }

        span.line {
            display: block;
        }

        span.line.head {
            margin: 0.25rem 0;
            font-size: 1rem;
        }
    </style>
</head>

<body>
    <div class="docs">
        <div class="column col-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5"><strong>腾讯云 SSL 证书自动更新结果通知</strong></div>
                    <div class="card-subtitle text-light">Trigger ID #<%= trigger_id %></div>
                </div>
                <div class="card-body">
                    <p><span>你的腾讯云证书在近期进行了一次自动更新，以下是更新结果</span></p>
                    <!-- ejs for -->
                    <% for (const info of data) { %>
                    <p>
                        <span class="line head"><strong>证书 #<%= info.old_cert_id.content %></strong></span>
                        <span class="line">
                            <span class="text-dark thread">新证书 ID：</span>
                            <span class="text-<%= info.new_cert_id.color %>"><%= info.new_cert_id.content %></span>
                        </span>
                        <span class="line">
                            <span class="text-dark">原证书 ID：</span>
                            <span class="text-<%= info.old_cert_id.color %>"><%= info.old_cert_id.content %></span>
                            <span class="text-<%= info.old_deleted.color %>">（<%= info.old_deleted.content %>）</span>
                        </span>
                        <span class="line">
                            <span class="text-dark">主域名：</span>
                            <span class="text-<%= info.domain.color %>"><%= info.domain.content %></span>
                        </span>
                        <span class="line">
                            <span class="text-dark">SANS 域名：</span>
                            <span class="text-<%= info.sans.color %>"><%= info.sans.content %></span>
                        </span>
                        <span class="line">
                            <span class="text-dark">证书上传：</span>
                            <span class="text-<%= info.uploaded.color %>"><%= info.uploaded.content %></span>
                        </span>
                        <span class="line">
                            <span class="text-dark">资源迁移：</span>
                            <span class="text-<%= info.updated.color %>"><%= info.updated.content %></span>
                        </span>
                        <span class="line">
                            <span class="text-dark">备注：</span>
                            <span class="text-<%= info.comment.color %>"><%= info.comment.content %></span>
                        </span>
                    </p>
                    <% } %>
                    <span class="line head"><strong>控制台输出</strong></span>
                    <pre class="code" data-lang="OUTPUT"><code><%- output %></code></pre>
                </div>
            </div>
        </div>
    </div>
</body>